{% extends "index.html" %}

{% block content %}


<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">group</th>

        </tr>
        </thead>
        <tbody>
        {% for student in students%}
        <tr>
            <td> {{student.name}}</td>
            <td> {{student.sgroup}}</td>
            <td>
                <a href="/edit_student?name={{student.name}}&group={{student.sgroup}}" title="edit button">
                    <button type="button" class="btn btn-warning" name="btn_edit_user" data-user_id="{{student.name}}">
                        Edit
                    </button>
                </a>
                <a href="/delete_student?name={{student.name}}&group={{student.sgroup}}" title="delete button">
                    <button type="button" class="btn btn-danger" name="btn_delete_user" data-user_id="{{student.name}}">
                        Delete
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="/new_student" title="new student button">
                    <button type="button" class="btn btn-success" name="btn_new_student">New student</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<script src="{{ url_for('static', filename='js/skill.js') }}"></script>-->

{% endblock %}