{% extends "index.html" %}

{% block content %}


<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">degree</th>

        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers%}
        <tr>
            <td> {{teacher.name}}</td>
            <td> {{teacher.degree}}</td>

            <td>
                <a href="/edit_teacher?name={{teacher.name}}" title="edit button">
                    <button type="button" class="btn btn-warning" name="btn_edit_user"
                            data-user_id="{{teacher.name}}">Edit
                    </button>
                </a>
                <a href="/delete_teacher?name={{teacher.name}}" title="delete button">
                    <button type="button" class="btn btn-danger" name="btn_delete_user"
                            data-user_id="{{teacher.name}}">Delete
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="/new_teacher" title="new professor button">
                    <button type="button" class="btn btn-success" name="btn_new_teacher">New teacher</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<script src="{{ url_for('static', filename='js/skill.js') }}"></script>-->

{% endblock %}